<nav class="navbar navbar-expand navbar-dark bg-primary navbar-top">
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link fiddle" style="font-weight: 700; color: whitesmoke;" alt="Fork me on GitHub" target="_blank"
           href="http://github/bradyhouse/house/fiddles/angular2-cli/fiddle-0026-EntAgGridRowGrouping">
          Fork Me On Github
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="fiddle">
  <app-ag-hierarchy-grid [options]="options" (events)="AgHierarchyGridOnEvent($event)"></app-ag-hierarchy-grid>
</div>

